[submodule "face_normals"]
	path = face_normals
	url = https://github.com/boukhayma/face_normals
[submodule "gaussian-splatting"]
	path = gaussian-splatting
	url = https://github.com/graphdeco-inria/gaussian-splatting.git
[submodule "gaussian_splatting"]
	path = gaussian_splatting
	url = https://github.com/graphdeco-inria/gaussian-splatting.git
